<option value="animalism">{{localize "VTM5E.Animalism"}}</option>
<option value="auspex">{{localize "VTM5E.Auspex"}}</option>
<option value="celerity">{{localize "VTM5E.Celerity"}}</option>
<option value="dominate">{{localize "VTM5E.Dominate"}}</option>
<option value="fortitude">{{localize "VTM5E.Fortitude"}}</option>
<option value="obfuscate">{{localize "VTM5E.Obfuscate"}}</option>
<option value="potence">{{localize "VTM5E.Potence"}}</option>
<option value="presence">{{localize "VTM5E.Presence"}}</option>
<option value="protean">{{localize "VTM5E.Protean"}}</option>
<option value="sorcery">{{localize "VTM5E.BloodSorcery"}}</option>
<option value="oblivion">{{localize "VTM5E.Oblivion"}}</option>
<option value="alchemy">{{localize "VTM5E.ThinBloodAlchemy"}}</option>
<option value="rituals">{{localize "VTM5E.Rituals"}}</option>
<option value="ceremonies">{{localize "VTM5E.Ceremonies"}}</option>
<option value="abombwe">Abombwe</option>
<option value="bardo">Bardo</option>
<option value="daimonion">Daimonion</option>
<option value="fleischformen">Fleischformen</option>
<option value="fliegen">Fliegen</option>
<option value="irrsinn">Irrsinn</option>
<option value="mytherceria">Mytherceria</option>
<option value="ogham">Ogham</option>
<option value="quietus">Quietus</option>
<option value="schattenspiele">Schattenspiele</option>
<option value="schimären">Schimären</option>
<option value="serpentis">Serpentis</option>
<option value="spiritus">Spiritus</option>
<option value="temporis">Temporis</option>
<option value="valeren">Valeren</option>
<option value="koldunische_hexerei">Koldunische Hexerei</option>
<option value="mystik">Mystik des Abgrunds</option>
<option value="nekromantie">Nekromantie</option>
<option value="thaumaturgie">Thaumaturgie</option>
<option value="kombi">Kombinationsdisziplinen</option>